{% extends "base.html" %}
{% block content %}
<h2>User Login</h2>
{% if message%}
{{message}}
{% endif %}
<div class="row">
  <div class="col-sm-1">
  <form method="post" action="/userdirect/">
  	{% csrf_token %}
      <p>username: <input type="text" name="username"/> </p>
      <p>institution name: <input type="text" name="institution"/> </p>
      <p>password: <input type="password" name="password"/> </p>
    </div>
</div>
    <button type="submit" class="btn btn-primary" value="Log in">Login</button>
  </form>
    <div class="border-top pt-3">
	<small class="text-muted">
		<a href="/managerloginpage/">Login as a database manager </a>
	</small>
    </div>
{% endblock content %}